<h2>Por Pais</h2>
<hr>


<div class="row">
  <div class="col">
    <app-paises-input (onEnter)="buscar($event)"
                      (onDebounce)="sugerencias($event)"
                      placeholder="Buscar País...">
    </app-paises-input>
  </div>
</div>
<ul *ngIf="mostrarSugerencias && termino" class="list-group">
  <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
    <a class="nav-link"
       [routerLink]="['/pais',pais.cca2]">{{pais.name.common}}
    </a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="buscarSugerido()">
    <a class="nav-link">Buscar "<strong>{{termino}}</strong>"</a>
  </li>
</ul>
<hr>

<div *ngIf="hayError" class="alert alert-danger">No se encontro ningun pais con el nombre {{termino}}</div>

<div *ngIf="paises.length>0" class="row">
  <div class="col">
    <app-paises-tabla [data]="paises"></app-paises-tabla>
  </div>
</div>
